/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition-duration: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Components ---- */
.special-title {
  position: relative;
  letter-spacing: 2px;
  font-size: 30px;
  width: fit-content;
  margin: 0 auto 80px;
  padding: 10px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.special-title::after,
.special-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.special-title::before {
  left: -30px;
}
.special-title::after {
  right: -30px;
}
.special-title:hover {
  animation: change-color 0.5s linear forwards;
  -webkit-animation: change-color 0.3s linear forwards;
  animation-delay: 0.3s;
}
.special-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}
.special-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}

/* End Components */

/* Start Header -------------------*/
header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* for Mega Menu */
  position: relative;
}
header .logo {
  height: 72px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
    justify-content: center;
  }
}
header .nav {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  header .nav {
    margin: auto;
  }
}
header .nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  padding: 0 30px;
  color: black;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
@media (max-width: 767px) {
  header .nav > li > a {
    height: 50px;
    padding: 10px;
    font-size: 14px;
  }
}
header .nav > li > a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
header .nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
header .nav > li > a:hover::before {
  width: 100%;
}
/* End Header----------*/

/* Start Landing ------------------*/
.landing {
  position: relative;
}

.landing::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -60px;
  background-color: #ececec;
  transform-origin: top left;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  z-index: -1;
}

.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding-bottom: 150px;
}
.landing .container .text {
  padding: 10px;
  flex: 1;
}
.landing .container .text h1 {
  letter-spacing: -2px;
  font-size: 40px;
  margin: 0;
}
.landing .container .text p {
  font-size: 23px;
  line-height: 1.7;
  color: #444;
  margin: 10px 0 0;
  max-width: 500px;
}
/* Phones */
@media (max-width: 767px) {
  .landing .container {
    /* header will be 100px not 72px */
    min-height: calc(100vh - 100px);
  }
  .landing .container .text h1 {
    font-size: 30px;
  }
  .landing .container .text p {
    margin: 10px auto;
    font-size: 18px;
  }
}
.landing .container img {
  max-width: 100%;
  width: 600px;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
  position: relative;
}

/* Medium and small */
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
  .landing .container .text {
    text-align: center;
  }
  .landing .container .text p {
    margin: 10px auto;
  }
}
.landing > a {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  animation: bouncing 1.5s linear infinite;
  -webkit-animation: bouncing 1.5s linear infinite;
}
.landing > a:hover {
  color: var(--main-color-alt);
}
/* End Landing */

/* --------- Mega Menu------------ */
header .nav .mega-menu {
  position: absolute;
  z-index: -10;
  width: calc(100% - 30px);
  padding: 20px;
  left: 15px;
  top: calc(100% + 50px);
  justify-content: space-between;
  gap: 50px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  opacity: 0;
  transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
  -webkit-transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
  -moz-transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
}
header .nav > li:last-child:hover .mega-menu {
  top: calc(100% + 1px);
  opacity: 1;
  z-index: 10;
}
@media (max-width: 767px) {
  header .nav .mega-menu {
    flex-wrap: wrap;
    gap: 0;
    padding: 0;
    width: 100%;
    left: 0;
  }
}

header .nav .mega-menu .image {
  padding: 25px;
  flex: 1.4;
}
@media (max-width: 991px) {
  header .nav .mega-menu .image {
    display: none;
  }
}
header .nav .mega-menu .image img {
  width: 100%;
}
header .nav .mega-menu > ul {
  flex: 1;
}
@media (max-width: 767px) {
  header .nav .mega-menu > ul {
    flex: none;
    width: 100%;
  }
}
header .nav .mega-menu > ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
header .nav .mega-menu > ul a {
  padding: 15px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}
header .nav .mega-menu > ul a i {
  margin-right: 20px;
}
/*End Mega Menu*/

/* Start Articles--------------------- */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.articles .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.articles .container .artic-box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 10px #dddddd;
  overflow: hidden;
  transition: transform;
  -webkit-transition: transform var(--main-transition-duration),
    box-shadow var(--main-transition-duration);
  -moz-transition: transform var(--main-transition-duration),
    box-shadow var(--main-transition-duration);
}
.articles .container .artic-box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  box-shadow: 0 0 10px #b8b7b7;
}
.articles .container .artic-box:hover .read i {
  animation: moving-arrow 0.6s linear infinite;
  -webkit-animation: moving-arrow 0.6s linear infinite;
}

.articles .container .artic-box img {
  max-width: 100%;
}
.articles .container .artic-box .text {
  padding: 20px;
}
.articles .container .artic-box .text h3 {
  margin: 0 0 10px;
}
.articles .container .artic-box .text p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}
.articles .container .artic-box .read {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ececec;
  color: var(--main-color);
}

/* End Articles--------------------- */

/* Start Gallery ------------------*/

.gallery {
  background-color: var(--section-background);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.gallery .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.gallery .container .box img {
  width: 100%;
  transition: var(--main-transition-duration);
}
.gallery .container .box .image::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transition: all 0.2s ease-in-out;
  background-color: hwb(0 100% 0% / 0.2);
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.gallery .container .box .image:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
}
.gallery .container .box .image:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
}
/* End Gallery ---*/
/* Start Features ---*/
.features {
  background-color: white;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}

.features .box .image {
  position: relative;
  overflow: hidden;
}
.features .box .image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
.features .box .image::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.features .box:hover .image::after {
  border-width: 170px 500px 170px 0;
}
.features .box .image img {
  max-width: 100%;
}
.features .text h2 {
  margin: 0 auto;
  padding: 0 0 20px;
  font-size: 40px;
  width: fit-content;
  position: relative;
}
.features .text h2::after {
  content: "";
  width: 80%;
  height: 5px;
  background-color: #1787e0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.features .box p {
  font-size: 20px;
  color: #666;
  line-height: 1.8;
  padding: 25px;
}
.features .box a {
  padding: 10px 30px;
  display: inline-block;
  margin: 0 auto 40px;
  font-size: 18px;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  transition: var(--main-transition-duration);
}
/* ------quality--------- */
.features .quality .image::before {
  background-color: rgba(102, 51, 153, 0.7);
}
.features .quality h2::after {
  background-color: rebeccapurple;
}
.features .quality a {
  color: rebeccapurple;
  border-color: rebeccapurple;
  background: linear-gradient(to right, rebeccapurple 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
/* ----------time---------- */
.features .time .image::before {
  background-color: rgba(188, 143, 143, 0.7);
}
.features .time h2::after {
  background-color: rosybrown;
}
.features .time a {
  color: rosybrown;
  border-color: rosybrown;
  background: linear-gradient(to right, rosybrown 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
/* ----------passion---------- */
.features .passion .image::before {
  background-color: rgba(255, 127, 80, 0.7);
}
.features .passion h2::after {
  background-color: coral;
}
.features .passion a {
  color: coral;
  border-color: coral;
  background-color: coral;
  background: linear-gradient(to right, coral 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover .text a {
  color: white;
  background-position: left bottom;
}
/* End Features ---*/
/* Start Testimonials---------------- */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 120px;
}

.testimonials .box {
  position: relative;
  padding: 20px;
  background-color: white;
}
.testimonials .box .image {
  border: 10px solid var(--section-background);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  right: -10px;
  top: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.testimonials .box .image img {
  width: 100px;
  height: 100px;
}
.testimonials .box h3 {
  margin: 0px 0 5px;
}
.testimonials .box span {
  display: inline-block;
  color: #777;
  margin: 0 0 5px;
  font-size: 15px;
}
.testimonials .box ul {
  display: flex;
}
.testimonials .box ul li {
  margin-right: 2px;
}
.testimonials .box ul li i.fa-solid {
  color: #ffc107;
}

.testimonials .box p {
  color: #777;
  line-height: 1.6;
}

/* End Testimonials */
/* Start Team Members --------------*/

.members {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.members .container .box {
  padding-top: 60px;
  position: relative;
}
.members .container .box::after,
.members .container .box::before {
  content: "";
  width: 0;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 6px;
  transition: var(--main-transition-duration);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.members .container .box::before {
  width: calc(100% - 60px);
  background: #f3f3f3;
  z-index: -2;
}
.members .container .box::after {
  width: 0;
  z-index: -1;
  background: #e4e4e4;
}
.members .container .box:hover::after {
  width: calc(100% - 60px);
}
.members .box .data {
  display: flex;
  align-items: center;
}
.members .data ul {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.members .data ul li {
  margin: 20px 0;
}
.members .data ul li:hover i {
  color: var(--main-color);
}
.members .data ul li i {
  color: #777777;
}
.members .data .image {
  flex: 1;
}
.members .data .image img {
  max-width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.members .container .box:hover img {
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
}

.members .box .text {
  padding: 25px 25px 25px 85px;
}
.members .box h3 {
  margin: 0 0 10px;
  font-size: 22px;
  color: var(--main-color);
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.members .container .box:hover h3 {
  color: #777;
}
.members .box p {
  margin: 0;
}
/* End Team Members */

/* Start Services ---------------*/
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  counter-increment: services;
  position: relative;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.services .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.services .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.services .box:hover::before {
  width: 100%;
}
.services .box .serv {
  text-align: center;
  padding: 25px;
}
.services .box .serv i {
  font-size: 70px;
  color: #d5d5d5;
}
.services .box .serv h3 {
  margin-top: 20px;
  margin-bottom: 10;
  font-size: 26px;
  color: var(--main-color);
}
.services .box .details {
  background-color: var(--section-background);
  padding: 15px;
  color: var(--main-color);
  position: relative;
  text-align: right;
}
.services .box .details::before {
  content: "0" counter(services);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 35px;
  font-weight: bold;
  padding: 0 40px 0 20px;
  background-color: var(--main-color);
  color: white;
  height: 100%;
  line-height: 1.4;
}

.services .box .details::after {
  content: "";
  position: absolute;
  top: 0;
  left: 81px;
  background-color: #dddddd;
  height: calc(100% + 1px);
  width: 50px;
  transform: skew(-25deg);
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  -o-transform: skew(-35deg);
}
/* End Services */
/* Start Our Skills --------------*/
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.our-skills .container {
  display: flex;
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skills .skill {
  margin-bottom: 30px;
}
.our-skills .skills .skill .info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 22px;
}
.our-skills .skills .skill .info span {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 2px 5px;
  font-size: 14px;
  color: var(--main-color);
}
.our-skills .skills .skill .bar {
  width: 100%;
  height: 30px;
  background: var(--section-background);
  margin-top: 10px;
}
.our-skills .skills .skill .bar span {
  height: 100%;
  display: block;
  background-color: var(--main-color);
}
@media (max-wdith: 991px) {
  .our-skills .iamge {
    display: none;
  }
}

@media (max-width: 991px) {
  .our-skills .image {
    display: none;
  }
}
/* End Our Skills */
/* Start Work Steps---------------------- */
.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.work-steps .container {
  display: flex;
  align-items: center;
}
.work-steps .image {
  width: 50%;
}
@media (max-width: 1200px) {
  .work-steps .image {
    width: 300px;
    margin-right: 80px;
  }
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .work-steps .image {
    width: 250px;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.work-steps .image img {
  max-width: 100%;
}
.work-steps .steps {
  flex: 1;
}
.work-steps .steps .step {
  display: flex;
  border: 2px solid white;
  border-radius: 6px;
  background-color: #f6f5f5;
  padding: 30px;
  align-items: center;
  height: fit-content;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .work-steps .steps .step {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    padding: 20px 10px;
  }
  .work-steps .steps .step img {
    margin-bottom: 30px;
  }
}

.work-steps .steps .step img {
  width: 60px;
  margin-right: 30px;
}
.work-steps .steps .step h3 {
  font-size: 24px;
  margin: 0;
}
.work-steps .steps .step p {
  color: #777;
  line-height: 1.9;
  font-size: 18px;
  margin-bottom: 0;
}
/* End Work Steps */

/* Start Latest Events ------------------ */
.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.events .box {
  display: flex;
  justify-content: space-between;
}
.events .box .image {
  max-width: 450px;
}
.events .box .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .events .box .image {
    display: none;
  }
}
.events .box .count-down {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.events .box .count-down .count-number {
  font-size: 40px;
}
.events .box .count-down .text h3 {
  font-size: 30px;
}

.events .box .count-down .text p {
  font-size: 20px;
  color: #777;
  line-height: 1.6;
}
.events form {
  margin: 100px auto 0;
  width: fit-content;
  background-color: var(--section-background);
  padding: 30px 50px;
  border-radius: 70px;
}
.events form input[type="email"] {
  margin-right: 30px;
  width: 450px;
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
}
.events form input[type="email"]:focus {
  outline: none;
}
.events form input[type="email"]:focus::placeholder {
  color: transparent;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.events form input[type="submit"] {
  padding: 20px;
  background-color: var(--main-color);
  border: none;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.events form input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--main-color-alt);
}
@media (max-width: 767px) {
  .events form {
    width: 100%;
    padding: 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  .events form input[type="email"] {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  .events form input[type="submit"] {
    width: 100%;
    border-radius: 0;
    margin-top: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
}
/* End Latest Events  */
/* Start Plans ----------------*/
.plans {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.plan {
  padding: 40px 0;
  text-align: center;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.plans .most-popular {
  position: relative;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
.plan h3 {
  font-size: 25px;
  margin: 0 0 30px;
}
.plan i {
  display: block;
  color: var(--main-color);
  font-size: 80px;
  margin-bottom: 30px;
}
.plan span:first-of-type {
  display: block;
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
}
.plan span:last-of-type {
  display: block;
  color: #777;
  font-size: 16px;
  margin-top: 8px;
}
.plan ul {
  margin-top: 30px;
  margin-bottom: 30px;
}
.plan ul li {
  border-top: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
  padding: 20px;
}
.plan ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  margin-right: 20px;
  font-size: 20px;
  color: var(--main-color);
}
.plan button {
  padding: 15px;
  border: 2px solid var(--main-color);
  font-weight: bold;
  border-radius: 6px;
  color: var(--main-color);
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.plan button:hover {
  color: white;
  background-color: var(--main-color);
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
/* End Plans */
/* Start Videos---------------- */
.videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
}
.videos .box {
  display: flex;
  border: 1px solid #e3e3e3;
}
.videos .titles {
  width: 30%;
  border-right: 1px solid #e3e3e3;
}
.videos .titles .header {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.videos .titles .header h3 {
  margin: 0;
}
.videos .titles ul li {
  padding: 20px;
  border-top: 1px solid #e3e3e3;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.videos .titles ul li:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
.videos .titles ul li:hover p {
  color: var(--main-color);
}
.videos .titles ul p {
  margin-top: 0;
}
.videos .titles ul span {
  color: #777;
}
.videos .player {
  width: 70%;
  padding: 10px;
  background-color: var(--section-background);
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.videos .player img {
  max-width: 100%;
}
.videos .player p {
  padding: 20px;
  background-color: white;
  width: 100%;
}
/* End Videos */

/* Start stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  background-image: url(../images/stats.jpg);
  position: relative;
}
.stats::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.93);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.stats > h2 {
  position: relative;
  z-index: 2;
  margin: 0 auto 80px;
  width: fit-content;
  font-size: 40px;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  position: relative;
  z-index: 2;
}
.stats .box {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 25px;
  position: relative;
}
.stats .box::after,
.stats .box::before {
  content: "";
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  position: absolute;
  transition: 0.5s;
  -transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
}
.stats .box::before {
  left: 0;
  top: 0;
}
.stats .box::after {
  right: 0;
  bottom: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box i {
  font-size: 35px;
}
.stats .box span {
  display: block;
  width: 100%;
  font-weight: bold;
}
.stats .box span:first-of-type {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 45px;
}
.stats .box span:last-of-type {
  font-size: 22px;
  color: var(--main-color);
  font-style: italic;
}
/* End stats */
/* Start Discount -------------------------*/
.discount {
  display: flex;
  flex-wrap: wrap;
}
.discount .text {
  width: 50%;
  height: 100vh;
  background-color: var(--main-color);
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
@media (max-width: 991px) {
  .discount .text {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
}
.discount .text h3 {
  font-size: 45px;
  margin: 30px 0;
  width: 100%;
}
@media (max-width: 767px) {
  .discount .text h3 {
    font-size: 32px;
  }
}

.discount .text p {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.8;
  margin: 0 auto;
}
.discount .text .image {
  width: 100%;
}
.discount .text img {
  max-width: 300px;
  margin: 50px auto 0;
}
@media (max-width: 767px) {
  .discount .text img {
    width: 200px;
  }
}
.discount .form {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
@media (max-width: 991px) {
  .discount .form {
    width: 100%;
    height: fit-content;
  }
}
.discount .form h3 {
  font-size: 45px;
  margin: 30px 0;
  text-align: center;
  width: 100%;
}
@media (max-width: 767px) {
  .discount .form h3 {
    font-size: 32px;
  }
}
.discount .form form {
  max-width: 350px;
  margin: 50px auto;
}
@media (max-width: 767px) {
  .discount .form form {
    width: 100%;
    padding: 10px;
  }
}
.discount .form form input {
  width: 100%;
  padding: 15px;
  background-color: #f9f9f9;
  border: none;
  margin-top: 20px;
}
.discount .form form input:focus {
  outline: none;
}
.discount .form form input:not([type="submit"]) {
  border-bottom: 1px solid #ddd;
}
.discount .form form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.discount .form form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
  cursor: pointer;
}
/* End Discount */

/* Start Footer ---------------------*/
footer {
  background-color: #191919;
  color: white;
  padding-top: 50px;
}
footer .info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
@media (max-width: 767px) {
  footer .info {
    text-align: center;
  }
}
footer .info .bio h3 {
  font-size: 50px;
  margin: 0 0 20px;
}
footer .info .bio .social i {
  color: #ddd;
  font-size: 25px;
  width: 55px;
  height: 55px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  margin-right: 3px;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}
footer .info .bio .social i:hover {
  cursor: pointer;
}
footer .info .bio .social i.fa-facebook-f:hover {
  background-color: #1877f2;
}
footer .info .bio .social i.fa-linkedin-in:hover {
  background-color: #0a66c2;
}
footer .info .bio .social i.fa-github:hover {
  background-color: #585ed8;
}
footer .info .bio p {
  line-height: 1.6;
  font-size: 18px;
  color: #ddd;
  margin-top: 30px;
  margin-bottom: 0;
}
footer .info .links a {
  padding: 15px 15px 15px 0;
  display: block;
  color: #ddd;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}
footer .info .links li:not(:last-of-type) a {
  border-bottom: 1px solid #444;
}
footer .info .links a:hover {
  padding-left: 10px;
  color: white;
}
footer .info .links a i {
  margin-right: 10px;
  color: var(--main-color);
}
footer .info .contact div {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  line-height: 1.9;
}
footer .info .contact i {
  margin-right: 20px;
  font-size: 22px;
  color: var(--main-color);
}
@media (max-width: 767px) {
  footer .info .contact div {
    justify-content: center;
    flex-direction: column;
  }
}
footer .pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
footer .pics .box {
  border: 2px solid #ddd;
  width: calc((100% - 20px) / 3);
  margin-bottom: 10px;
}
footer .pics img {
  max-width: 100%;
  height: 100%;
}

.foot-bar {
  text-align: center;
  padding: 30px 0;
  margin-top: 50px;
  border-top: 1px solid #444;
  font-size: 20px;
  color: #ddd;
}
.foot-bar i {
  color: rebeccapurple;
  margin: 0 5px;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
}
.foot-bar i:hover {
  color: purple;
  cursor: pointer;
}
/* End Footer */

/* ---------Start Animations----------- */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 40px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 55%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 55%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes change-color {
  from {
    color: black;
    border-color: black;
  }
  to {
    color: white;
    border-color: transparent;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* ---------End Animations----------- */
